
.portfolio-view-container {
    display: flex;
    width: 100%;
}
.portfolio-grid {
    padding: 1em;
    display: grid;
    max-width: 50%;
    grid-template-columns: repeat(auto-fit, 20rem);
    grid-gap: 1em;
    grid-auto-rows: min-content;
}


.selected-property-container {
    display: flex;
    width: fit-content;
    flex-direction: column;
    padding: 1em 1em 1em 0;
}
.selected-property {
    padding: 1em;
    background: #eee;
    border-radius: 4px;
    box-shadow: #8a8a8a;
}

.portfolio-grid > .prop-card {
    background: #eee;
}

.truncate-box {
    overflow: hidden;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.portfolio-grid > .prop-card:nth-child(odd) {
    background: #ddd;
}


