

.portfolio-view-container {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, 270px);
    grid-gap: 1em;
    grid-auto-rows: min-content;
}

.portfolio-view-container > .prop-card {
    background: #eee;
}

.truncate-box {
    overflow: hidden;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.portfolio-view-container > .prop-card:nth-child(odd) {
    background: #ddd;
}
