
.property-title {
  text-align: center;
  height: 36px;
  padding: 11px 21px;
  border: 0px solid #cacbcd;
  border-radius: .28571429rem;
  background-color: #cacbcd;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica;
  color: rgba(0,0,0,.6);
  font-weight: 1000;
  
}

.property-title:hover {
  background-color: #e0e1e2;
}

.property-title:focus {
  background-color: white;
}

.property-title::selection {
  background-color: rgb(160, 221, 230);
}

div.ui.secondary.menu {
  box-sizing: border-box;
  margin-bottom: 0;
  margin-top: 0;
}