.property-view {
  height: calc(100vh - 44px);
}

.property-wrapper {
  padding: 0 13px;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - 88px);
  white-space: nowrap;
  overflow: auto;
}

.ui.labeled.icon.button>.icon {
  background-color: inherit;
}


.ui.labeled.icon.button {
  display: inline-block;
  width: 272px;
  padding-left: 2.7rem!important;
  margin-top: 0;
  text-align: left;
  vertical-align: top;
  height: fit-content;
}